%body
  .single-container
    .single-container--header
      =link_to image_tag('logo.png', class: 'single--header--image'), "/informations"
    %main.single-main
      .l-single-container
        %h2.l-single-head.registration 会員情報入力
        .l-single-content
          = form_for @user, url: step2_signup_users_path do|f|
            .form-group
              = f.label :nickname, "ニックネーム"
              %span.form-require 必須
              = f.text_field :nickname,{class: "input-default", placeholder: "例) メルカリ太郎"}
            .form-group
              = f.label :email, "メールアドレス"
              %span.form-require 必須
              = f.text_field :email,{class: "input-default" ,placeholder: "PC・携帯どちらでも可"}
            .form-group.form-password-revelation
              = f.label :password, "パスワード"
              %span.form-require 必須
              = f.password_field :password, {class: "input-default", placeholder: "7文字以上の半角英数字"}
            .form-group.form-password-confirmation
              = f.label :password, "パスワード(確認)"
              %span.form-require 必須
              = f.password_field :password_confirmation, {class: "input-default", placeholder: "7文字以上の半角英数字"}
              %p.form-info-text
                ※ 英字と数字の両方を含めて設定してください
            .form-group
              %h3.text-left.l-chapter-sub-head 本人確認
              %p.l-single-text
                安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
            .form-group
              = f.label :first_name, "名前(全角)"
              %span.form-require 必須
              = f.text_field :first_name,{class: "input-default", placeholder: "例) 山田"}
              = f.text_field :last_name,{class: "input-default", placeholder: "例) 彩"}
            .form-group
              = f.label :f_first_name, "お名前カナ(全角)"
              %span.form-require 必須
              = f.text_field :f_first_name,{class: "input-default", placeholder: "例) ヤマダ"}
              = f.text_field :f_last_name,{class: "input-default", placeholder: "例) アヤ"}
            .form-group
              = f.label :birthday, "生年月日" 
              %span.form-require 必須            
              = f.select :birthday_year,["--"], {} ,{class: "birthday-year-select", id: "year"}
              年
              = f.select :birthday_month, ["--"], {},{class: "birthday-month-select", id:"month"}                   
              月
              = f.select :birthday_day, ["--"], {},{class: "birthday-day-select", id:"day"}
              日
              %p.l-single-text.text-center
                「次へ進む」のボタンを押すことは、
                %a{href: "/jp/tos_list/", target: "_blank"}> 利用規約
                に同意したものとみなします  
            = f.submit '次へ進む', class: "btn_default_btn"    
            .form-group.text-right
              %p
                %a{href: "/jp/help_center/article/423/", target: "_blank"}
                  本人情報の登録について
                  %i.icon-arrow-right
            .form-group.recaptcha_term
              %p
                This site is protected by reCAPTCHA and the Google
                %a{href: "https://policies.google.com/privacy", target: "_blank"} Privacy Policy
                and
                %a{href: "https://policies.google.com/terms", target: "_blank"} Terms of Service
                apply.
    .mains__footer
      %ul.mains__footer__content
        %li
          = link_to "#" do
            会社概要（運営会社）
        %li
          = link_to "#" do
            プライバシーポリシー
        %li
          = link_to "#" do
            FURIMA利用規約
      .mains__footer__logo
        = link_to image_tag('logo.png', class: 'logo__image'), "#"
      %p.mains__footer__c-mark
        © FURIMA,inc.

