= form_for @user, url: step2_signup_index_path do |f|
  = hidden_field_tag :current_step, 'step1'

    = f.label :nickname, "ニックネーム"
    = f.text_field :nickname

    = f.label :email, "メールアドレス"
    = f.text_field :email

    = f.label :password, "パスワード"
    = f.password_field :password

    = f.label :password, "パスワード(確認)"
    = f.password_field :password_confirmation

    = f.label :first_name, "名前(全角)"
    = f.text_field :first_name
    = f.text_field :last_name

    = f.label :f_first_name, "お名前カナ(全角)"
    = f.text_field :f_first_name
    = f.text_field :f_last_name

    = f.label :birthday, "生年月日"
      = f.select :birth_year
      = f.select :birth_month
      = f.select :birth_day

  = f.submit '次へ進む'