= form_for @user, url: complete_signup_signup_index_path, method: :post do |f|
  = hidden_field_tag :current_step, 'step3'
  = f.fields_for :address do |p|

    = p.label :postal_code, "郵便番号"
    = p.text_field :postal_code

    = p.label :prefectures, "都道府県"
    = p.collection_select :prefectures

    = p.label :municipalities, "市区町村"
    = p.text_field :municipalities

    = p.label :address, "番地"
    = p.text_field :address

    = p.label :building, "建物名"
    = p.text_field :building

    = p.label :phone_number, "電話番号"
    = p.text_field :phone_number

  = f.submit '登録を完了する'