.nav_side
  %nav.myPage_nav
    %ul.page_nav_lists
      %li
        = link_to users_path, class: "list" do
          マイページ
          %i.fas.fa-chevron-right
      %li
        = link_to "#", class: "list" do
          お知らせ
          %i.fas.fa-chevron-right
      %li
        = link_to "#", class: "list" do
          やることリスト
          %i.fas.fa-chevron-right
      %li
        = link_to "#", class: "list" do
          いいね！一覧
          %i.fas.fa-chevron-right
      %li
        = link_to "#", class: "list" do
          出品する
          %i.fas.fa-chevron-right
      %li
        = link_to "#", class: "list" do
          出品した商品・出品中
          %i.fas.fa-chevron-right
      %li
        = link_to "#", class: "list" do
          出品した商品・取引中
          %i.fas.fa-chevron-right
      %li
        = link_to "#", class: "list" do
          出品した商品・売却済み
          %i.fas.fa-chevron-right
      %li
        = link_to "#", class: "list" do
          購入した商品・取引中
          %i.fas.fa-chevron-right
      %li
        = link_to "#", class: "list" do
          購入した商品・過去の取引
          %i.fas.fa-chevron-right
      %li
        = link_to "#", class: "list" do
          ニュース一覧
          %i.fas.fa-chevron-right
      %li
        = link_to "#", class: "list" do
          評価一覧
          %i.fas.fa-chevron-right
      %li
        = link_to "#", class: "list" do
          ガイド
          %i.fas.fa-chevron-right
      %li
        = link_to "#", class: "list" do
          お問い合わせ
          %i.fas.fa-chevron-right

  %h3.subtitle
    フリペイ
  %nav.FURIMAPay-settings_nav
    %ul.page_nav_lists
      %li
        = link_to "#", class: "list" do
          マイページ
          %i.fas.fa-chevron-right
      %li
        = link_to "#", class: "list" do
          お知らせ
          %i.fas.fa-chevron-right

  %h3.subtitle
    設定
  %nav.FURIMAPay-settings_nav
    %ul.page_nav_lists
      %li
        = link_to "#", class: "list" do
          プロフィール
          %i.fas.fa-chevron-right
      %li
        = link_to "#", class: "list" do
          発送元・お届け先住所変更
          %i.fas.fa-chevron-right
      %li
        = link_to "/cards/new", class: "list" do
          支払い方法
          %i.fas.fa-chevron-right
      %li
        = link_to "#", class: "list" do
          メール/パスワード
          %i.fas.fa-chevron-right
      %li
        = link_to "#", class: "list" do
          本人情報
          %i.fas.fa-chevron-right
      %li
        = link_to "#", class: "list" do
          電話番号の確認
          %i.fas.fa-chevron-right
      %li
        = link_to "/users/logout", class: "list" do
          ログアウト
          %i.fas.fa-chevron-right

          