%nav.breadCrumbs
  %ul
    %li
      =link_to "FURIMA"
    %li
      %i.fa.fa-angle-right
    %li
      =link_to "レディース"
    %li
      %i.fa.fa-angle-right
    %li
      =link_to "トップス"
    %li
      %i.fa.fa-angle-right
    %li
      =link_to "Tシャツ/カットソー(半袖/袖なし)"
    %li
      %i.fa.fa-angle-right
    %li
      %p 
        = @item.name

.main
  .showMain
    .contentLeftqq
    .contentRight
      .topContent
        .itemBox      
          %h2.itemBox__name 
            = @item.name
          .itemBox__body
            %ul
              %li
                = image_tag(@item.images.first.image.url)
                %ul
                  %li
                    
                  %li
                    
                  %li
                    

          .itemBox__price
            %span
              = @item.price
            .itemBox__price-detail
              %span
                (税込)
              %span
                送料込み
          .itemDetail 
            = @item.name
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td 
                    -# = link_to 
                    = link_to "#" do
                      = @user.nickname
                %tr
                  %th カテゴリー
                  %td
                    =@category
                %tr
                  %th ブランド
                  %td
                    =@item.brand
                %tr
                  %th 商品の説明
                  %td 
                    =@item.description
                %tr
                  %th 商品の状態
                  %td 
                    -if @item.state == "2"
                      新品
                    -elsif @item.state == "3"
                      中古
                    -elsif @item.state == "4"
                      パチモン
                    -else 
                      選択してください
                    
                %tr
                  %th 配送料の負担
                  %td 
                    -if@item.postage == "2"
                      送料込み
                    -elsif @item.postage == "3"
                      着払い
                    -else 
                    選択してください
                %tr
                  %th 発送元の地域
                  %td
                    -if@item.region == "2"
                      北海道
                    -elsif @item.region == "3"
                      東京
                    -elsif @item.region == "4"
                      愛知
                    -else
                      選択してください
                    
                %tr
                  %th 発送日の目安
                  %td 
                    -if@item.shipping_days == "2"
                      1~2日で発送
                    -elsif @item.shipping_days == "3"
                      2~3日で発送
                    -elsif @item.shipping_days == "4"
                      4~7日で発送
                    -else 
                      選択してください

          .page_manage
            .seller_btn
              - if user_signed_in? && current_user.id == @item.seller_id   
                .item-edit-btn
                =link_to "編集する", edit_item_path, class: "item-edit-btn"
                
                .item-delete-btn
                =link_to "削除する",information_path, method: :delete, class: 'item-delete-btn'

              -else
                .buyer_btn
                  %a.item-buy-btn{href: item_path}
                    購入画面に進む

      %ul.links
        %li
          =link_to "#" do
            %i.fa.fa-angle-left
            %span
            前の商品
        %li
          =link_to "#" do
            %span
            後ろの商品
            %i.fa.fa-angle-right
      .relatedItems
        =link_to "同じカテゴリーの商品をもっと見る"
        .productLists