.myPage_tab_notification
  %ul.myList_tabs
    %li.notification_tab
      = link_to '#', class: "notification_link" do
        .notification_text
          お知らせ
    %li.toDo_tab
      = link_to '#', class: "toDo_link" do
        .toDo_text
          やることリスト
  %ul.tab_content_box
    %li.tab_content
      = link_to '#', class: "link_tab" do
        .image_content
          = image_tag 'member_photo_noimage_thumb', class: 'image'
        .textBox
          《最大30,000円分！》あのぼったくりカレーがもらえるかもしれないキャンペーン実施中！
          .timeBox
            .timeIcon
              %i.far.fa-clock
            .timeNumberText
              2
            .timeText
              時間前
        %i.fas.fa-chevron-right
    %li.jump_to_galary
      .linkBox
        = link_to '#', class: "galary_link" do
          .showGalary_text
            一覧を見る