<!DOCTYPE html>
<html>
  <head>
    <title>FreemarketSamlpe68c</title>
    <script>{src: "https://js.pay.jp/", type: "text/javascript"}</script>
    <script>{type: "text/javascript"} Payjp.setPublicKey('pk_test_0b178b2dc43956d9e15a85ab');</script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
